body {
	background-color: #F0D9FF;
	font-family: Helvetica;
}

h2 {
  color: #9B72AA;
	font-size: 20px;
}
body {
width: 800px;
margin: auto;
}
.container {
	width: 800px;
	margin: 0 auto;
	text-align: center;

}
.card-white {
	background-color: #F3F1F5;
	padding: 30px;
	border-radius: 4px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
	margin: 20px 0px;
}
.img-circle {
	border-radius: 50%;
}

h1 {
	color: #7F7C82;
}

h3 {
	color: #BFA2DB;
}

a {
	text-decoration: none;
	color: #9B72AA;
}

a:hover {
	color: #3C5186 ;
}
h1, h2, h3 {
	font-family: Helvetica;
}


 @media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}




